.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::placeholder {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: 700;
  /* color: #000000 !important; */
  letter-spacing: -0.015em;
}
.round-input {
  border-radius: 5px !important;
}
.input-icon input::-webkit-calendar-picker-indicator {
  /* background: url("../public/PngItem_3204339.png") center center no-repeat; */
  filter: invert(1);
}
.image-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: 0.3s;
  z-index: 99;
}

.hover-section:hover .image-icon {
  opacity: 1;
  transition: 0.5s;
}
.hover-section:hover .profile-image {
  opacity: 0.6;
  transition: 0.5s;
}
.profile-image {
  background: black !important;
  transition: 0.3s;
}
/* custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 0.3rem;
}
.custom-scrollbar:hover.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(36, 33, 44);
  transition: 0.3s;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}
.expand-icon-wrapper {
  position: absolute;
  top: 35%;
  cursor: pointer;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  color: rgb(135, 72, 174) !important;
  /* opacity: 0; */
  transition: 0.3s;
  z-index: 99;
}
